.status-box {
	background: #eeeeee;
	border-radius: 5px;
	margin: 5px;
	padding: 10px;
}

.status-box:hover {
	background: #ddd;
}

img#albumart {
	max-width:100%;
	max-height:100%;
	align-self: center;
	border-radius: 8px;
	border: 5px solid #333;
}

.clickable {
	cursor: pointer;
}

.fa.clickable:hover {
	color: #444;
}

.wrap {
	display: flex;
  	justify-content: center;
  	align-items: flex-end;
  	padding: 0.25em;
}

.changer {
	max-width:100%;
	max-height:100%;
	align-self: center;
}

.textdisp {
	font-size: 250%;
	padding: 0.5em;
}

#submitbutton {
	background-color: #58cbf1;
}

#loading {
	text-align: center;
	color: #555;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
}

body {
	margin-top: 20px;
}

#newg {
	position: relative;
	float: right;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.3px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 0.9px 0.9px 1px #000000, 0px 0px 0.9px #0d0d0d;
  background: rgba(4, 0, 42, 0.9);
  border-radius: 5.2px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 17px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(7, 0, 78, 0.9);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 0.9px 0.9px 1px #000000, 0px 0px 0.9px #0d0d0d;
  background: rgba(4, 0, 42, 0.9);
  border-radius: 5.2px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 17px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(1, 0, 6, 0.9);
  border: 0.2px solid #010101;
  border-radius: 10.4px;
  box-shadow: 0.9px 0.9px 1px #000000, 0px 0px 0.9px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgba(4, 0, 42, 0.9);
  border: 0.2px solid #010101;
  border-radius: 10.4px;
  box-shadow: 0.9px 0.9px 1px #000000, 0px 0px 0.9px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 17px;
  background: #ffffff;
  cursor: pointer;
  height: 11.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(4, 0, 42, 0.9);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(7, 0, 78, 0.9);
}
